<div class="container">
	<h2>Please Login</h2>

	<%= form_tag sessions_path do %>
	<%= text_field_tag :userid, nil, placeholder: 'Enter your username', class:'form-control inputFields' %>
	<%= password_field_tag :password, nil, placeholder: 'Enter your password', class:'form-control inputFields' %>
	<%= submit_tag 'Log in', class:'submitBtn' %>
	<% end %>
</div>