/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body {
	font-family: "Arial Black", Gadget, sans-serif;
}

.inputFields{
	width:350px;
	margin-top:10px;	
}

.submitBtn{
	margin-top:10px;	
}

.searchInput{
	display:inline-block;
	width:400px;
}

.editBtn{
	margin-top:10px;
}

 /* Navbar container */
.topnav {
  overflow: hidden;
  background-color: #66b7f1c4; /*#65606061*/
}

.topnav{
	padding-top: 10px;
}

.navbar-brand{
	float:left;
	padding-left:10px;
}

/* Links inside the navbar */
.topnav .MainLinks{
  float: left;
  font-size: 16px;
  font-weight:bold;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
}

/* Add a background color to links on hover */
.topnav .MainLinks:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  /*position: absolute;*/
  background-color: #c4c2c2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .MainLinks {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color to dropdown links on hover */
.dropdown-content .MainLinks:hover {
  background-color: white;
}