<div class="container">
	<h1 class="">About Us</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<p> Lorem ipsum dolor sit amet, vim nullam iracundia similique te. Quo agam cotidieque ex, rebum argumentum cum cu, prompta detracto liberavisse eos cu. Quo ut modus platonem comprehensam, quas aliquip sea ad. Cum dicit appetere ex, ad velit cetero accommodare eum. Eam ne eirmod fabellas adolescens, at quo natum veniam.</p>
			</div>
			<div class="col">
				<%= image_tag("about_us_image.jpeg", height:270, width:350) %>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col">
				<p> Lorem ipsum dolor sit amet, vim nullam iracundia similique te. Quo agam cotidieque ex, rebum argumentum cum cu, prompta detracto liberavisse eos cu. Quo ut modus platonem comprehensam, quas aliquip sea ad. Cum dicit appetere ex, ad velit cetero accommodare eum. Eam ne eirmod fabellas adolescens, at quo natum veniam.</p>
			</div>
			<div class="col">
				<p> Lorem ipsum dolor sit amet, vim nullam iracundia similique te. Quo agam cotidieque ex, rebum argumentum cum cu, prompta detracto liberavisse eos cu. Quo ut modus platonem comprehensam, quas aliquip sea ad. Cum dicit appetere ex, ad velit cetero accommodare eum. Eam ne eirmod fabellas adolescens, at quo natum veniam.</p>
			</div>
		</div>
	</div>
</div>