<div class="container">
	<h2>All Profiles</h2>

	<table border="1" class="table">
		<tr>
			<th> Full Name </th>
			<th> Details </th>
			<th> Edit </th>
		</tr>
		<% @profiles.each do |profile| %>
		<tr>
			<td> <%= profile.fullName %> </td>
			<td> <%= link_to 'Profile Page', profile_path(profile) %> </td>
			<td> <%= link_to 'Edit', edit_profile_path(profile) %> </td>
		</tr>
		<% end %>
	</table>
</div>